* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 canvas#game {
    display: block;
    background-image: url("https://opengameart.org/sites/default/files/rock_4.png"); 
}

/* iframe {
    display: none;
} */
