* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height:100%
}

 body {
    display: block;
    /* background-image: url("https://opengameart.org/sites/default/files/rock_4.png");  */
    background-image: url("https://i.ibb.co/Vx1BWrC/Chilly-Road-Background-V1-1.png");

    position: relative;
}


form {
    position: absolute;
    top: 25;
}

div#achievement {
    position: absolute;
    top: 30%;
    left: 20%;
    margin: auto;
    width: 60%;
    padding: 10px;

    text-align: center;
}

div#achievement img {
    height: 350px;
}